<launch>

    <node name="data_logger" pkg="dlio_logger" type="db_logger.py" output="screen" />
    <rosparam file="$(find dlio_logger)/config/logger.yaml" />

    <group ns="microstrain">
        <include file="$(find microstrain_inertial_driver)/launch/microstrain.launch"/>
    </group>

</launch>